@media all and (max-width:1130px){
    .header{
        width:1130px;
    }
    .top-header{
        width: 1110px;
    }
    .info-catalog{
        width: 1130px;
    }
    .header-list{
        width: 1102px;
    }
    .container2{
        width: 1130px;
        margin-top: -250px;
    }
    .mini-container2{
        width: 1110px;
    }
    .container3{
        width: 1130px;
    }
    .gallery3{
        width: 1110px;
    }
    .wrapper{
        width: 1110px;
    }
    .mini3-1{
        width: 1110px;
    }
    .how_order{
        left: -180px;
    }
    .order_flower {
        width: 1130px;
    }
    .foto-inst{
        width: 600px;
        margin-left: 20px;
    }

    .special{
        width: 1110px;
    }
    .inst-gallery{
        width: 1035px;
        margin-left: 20px;
    }
    .container4{
        width: 1130px;
    }
    .footer{
        width: 1130px;
    }
    .main-foot{
        width: 1130px;
        margin-left: 10px;
    }
    .big-flower{
        width: 1130px;
    }
    .hands{
        width: 1130px;
        margin-top: 430px;
    }
    .lover{
        display: none;
    }
    .header h1, h2{
        margin-left: -160px;
    }
    .creativity-child{
        display: none;
    }
    .header-list1{
        margin-top: 271px;
    }
    .contacts1{
        margin-right: 5px;
    }
    #logo1{
        margin-left: 60px;
        background: none;
    }
    .twentyeight{
        top: -400px;
    }
    .twentyninght{
        top: -400px;
    }
    .special img{
        display: none;
    }
    .arrow8{
        margin-left: -200px;
    }
    .inst-button button{
        margin-left: -210px;
    }
    .container5{
        width: 1130px;
    }
    .foot-inst img:nth-child(5){
        display: none;
    }

    .foot-inst img:last-child{
        display: none;
    }
    .mini2-2{
        right: 0px;
    }
    .mini2-4{
        left: 580px;
        top: 730px;
    }
    h3{
        width: 700px;
    }
}


@media all and (max-width:1020px){
    .header{
        width:1020px;
    }
    .top-header{
        width: 1020px;
    }
    .info-catalog{
        width: 1020px;
    }
    .header-list{
        width: 1020px;
    }
    .container2{
        width: 1020px;
        margin-top: -250px;
    }
    .mini-container2{
        width: 1020px;
    }
    .container3{
        width: 1020px;
    }
    .gallery3{
        width: 1020px;
    }
    .wrapper{
        width: 1020px;
    }
    .mini3-1{
        width: 1110px;
    }
    .how_order{
        left: -440px;
        background: black;
    }
    .order_flower {
        width: 1020px;
    }
    .foto-inst{
        width: 600px;
        margin-left: 20px;
    }
    .special{
        width: 1020px;
    }
    .inst-gallery{
        width: 1020px;
        margin-left: 20px;
    }
    .container4{
        width: 1020px;
    }
    .footer{
        width: 1020px;
    }
    .main-foot{
        width: 1020px;
        margin-left: 10px;
        position: absolute;
    }
    .big-flower{
        width: 1020px;
    }
    .hands{
        width: 1020px;
        margin-top: 350px;
    }
    .lover{
        display: none;
    }
    .header h1, h2{
        margin-left:-100px ;
        font-size: 150px;
    }
    .creativity-child{
        display: none;
    }
    .header-list1{
        margin-top: 271px;
    }
    .contacts1{
        display: none;
    }
    #logo1{
        top: -530px;
    }
    .twentyeight{
        top: -400px;
    }
    .twentyninght{
        top: -400px;
    }
    .special img{
        display: none;
    }
    .arrow8{
        margin-left: -200px;
    }
    .inst-button button{
        margin-left: -210px;
    }
    .container5{
        width: 1020px;
        top: 213px;
    }
    .foot-inst{
        margin-left: 138px;
        margin-top: -400px;
    }
    .foot-inst img:nth-child(5){
        display: none;
    }
    .foot-inst img:last-child{
        display: none;
    }
    .mini2-2, .mini2-3, .mini2-4{
        width: 300px;
    }
    .mini2-3{
        left: 100px;
    }
    .mini2-4{
        top: 500px;
    }
    h3{
        width: 700px;
    }
    .social{
        display: none;
    }
    .creativity{
        margin-top: 900px;
        margin-left: 0px;
    }
    .header1{
        top: -530px;
        left: 60px;
        width: 900px;
    }
    .header1 li{
        margin-right: 20px;
    }
    .butt1{
        margin-left: 300px;
    }
    .mini-container2 a{
        padding-left: 166px;
    }
    .mini-container2 h5{
        font-size: 25px;
    }
    .slider-track{
        display: block;
    }
    .slider-track div:first-child{
        margin-left: 20px;
        margin-bottom: 30px;
    }
    .slider-track div:nth-child(2){
        margin-left: 300px;
        margin-bottom: 30px;
    }
    .slider-track div:last-child{
        margin-left: 600px;
        margin-bottom: 30px;
    }
    .mini3-1{
        width: 1000px;
    }
    .mini3-1 h5{
        margin-left: 100px;
        width: 700px;
    }
    .questions2{
        position: relative;
        left: -140px;
    }
    .leaf img{
        width: 600px;
    }
    .bg-4 img{
        display: none;
    }
    .questions{
        width: 1020px;
    }
    .ocassion{
        margin-left: 300px;
    }
    .gallery3 h3:nth-child(2) {
        margin-left: 303px;
    }
}

