@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');

*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
    background: black;


}
/* 
container1 */

.container{

    height: 1240px;
    position: relative;
}

a{
    text-decoration: none;
    color: white;
    background: none;
}

a:hover{
    color: #D978AC;
}


.header{
    position: relative;
    margin: 0 auto;
    width: 1440px;
    background: black;
    
}


.header img{
    position: absolute;
    background: none;
}

.twentyninght{
    top: 40px;
    right: 0px;
}

.twentyeight{
    top: 160px;
    left: 0px;
}

.big-flower{
    top:0px;
}

.top-header{
    background: none;
    position: absolute;
    width: 1110px;
    margin-left: 271px;
}

h1{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 300;
    font-size: 200px;
    line-height: 242px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 93px;
    padding-left: 326px;
}

h2{
    position: absolute;
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 300;
    font-size: 200px;
    line-height: 242px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: none;
    padding-left: 228px;
    margin-top: -77px;

}

.info-catalog{
    position: relative;
    width: 1440px;
    margin: 0 auto;
    background: none;

}

.hands{
    margin-top: 640px;
}

.lover{
    position: absolute;
    left: 984px;
    top: 579px;
    transform: rotate(333deg);}

.header-list{
    width: 1102px;
    margin: 0px auto;
    height: 200px;
    margin-top: -1230px;
    position: relative;
    height: 960px;
    background: none;
}


.header-list img{
    position: absolute;
    top:-8px;
    
}
.header-list ul li a{
    float: left;
    margin-top: 20px;
    background: none;
}


.header-list1{
    margin-left: 100px;
    background: none;
    height: 60px;
}

.header-list1 ul li a{
    padding-right: 50px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: none;
}

.header-list1 ul li a:hover{
    color: #43FFD2;
    background: none;
}

.search::before{
    content: url('img/search.svg');
    padding-right:12px ;
}

.header1{
    position: absolute;
    width: 100%;
    background: none;
}

.list{
    margin-left: 169px;
    background: none;
    
}

.list li{

}

.head-link{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 50px;
}

.contacts1{
    float: right;
    background: none;

}

.contacts1 a{
    float: right;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #43FFD2;
}

.contacts1 a:hover{
    color: #D978AC;
}

.contacts1 p{
    float: right;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: none;
    margin-right: 0px;
    margin-top: 4px;
}

.contacts1 p:last-child{
    margin-right: -130px;
    margin-top: 4px;
}

.social{
    position: relative;
    width: 60px;
    height: 154px;
    right: -945px;
    top: 201px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    display: flex;
}

.social img{
    margin-left: 18px;
    margin-top: 20px;
}

#wats{
    position: absolute;
    margin-top: 70px;
}

#inst{
    position: absolute;
    margin-top: 120px;
}

.creativity{
    height: 600px;
    margin: 0 auto;
    margin-top: 320px;
    background: none;

}

.creativity p{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    background: none;
    margin-bottom: 47px;
    margin-left: -110px;
}

.butt1{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
    background: #43FFD2;
    padding: 16px 50px;
    margin-left: 335px;
    
}

.butt1:hover{
    background-color: #7D2253;
    color: white;
}

.butt1:active{
    background: #7D2253;
    box-shadow: inset 0px 0px 10px #01281F;

}

.creativity-child{
    background: none;
    position: relative;
}
.creativity-child a{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #43FFD2;
    margin-left: 848px;
    margin-top: 343px;
    position: absolute;
    right: 0px;
    top:-465px;
}

.creativity-child p a{
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    width: 210px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #43FFD2;
    margin-right: 0px;
    position: absolute;
    right: 0px;
    top:-420px;
    padding: 9px 19px 10px 40px;

}

.creativity-child p a::before{
    content: url('img/tel2.svg');
    padding-right: 10px;
    margin-left: -19px;
}


.shadow{
    position: absolute;
    top: 840px;
    left: 12%;
    background: none;
    margin-left: 103px;
}

.help{
    width: 157px;
    position: absolute;
    background: black;
    left: 1679px;
    top: 945px;
    height: 300px;
}
/* container2 */




.container2{
    width: 1440px;
    margin: 0 auto;
    color:#FFFFFF;
}

.info-list h3{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 200px;
    line-height: 296px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #0A1717;
    position: relative;
    background: black;
    

}


.info-list h3{
    position: absolute;
}

.info-list h3:first-child{
    right: 210px;
}

.info-list h3:last-child{
    right: 210px;
    top: 1800px;
}

.info-list h3:nth-child(2){
    top:1540px;
    left: 218px;
}

.info-list img{
    position: absolute;
}

.gradient{
    position: relative;
    background: none;
}

.gradient img{
    position: absolute;
    background: none;
}

.gradient img:first-child{
    right: 0px;
    top:30px;
}


.mini-container2{
    position: relative;
    width: 1110px;
    height: 700px;
    margin: 0 auto;
    background: none;

}

.mini2-1{
    background: none;
}
.mini2-1 h4{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 121px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: none;
}

.mini2-1 p{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: none;
    padding-top:10px ;
    padding-left:45px;
}

.mini2-2{
    position: absolute;
    background: none;
    width: 445px;
    height: 281px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    left: 637px;
    top: 100px;
}

.mini2-3{
    position: absolute;
    background: none;
    width: 540px;
    height: 310px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    top: 410px;
    left: 50px;
}

.mini2-4{
    position: absolute;
    background: none;
    width: 540px;
    height: 264px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    top: 490px;
    left: 650px;
}

.mini-container2 p, ul, li, h5, a{
    background: none;
}

.mini-container2 h5{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #43FFD2;
    padding-left: 50px;
    padding-top: 30px;

}

.mini2-4 h5{
    padding-left: 69px;
    padding-top: 30px;
}

.mini-container2 li{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 31px;
    list-style-type: disc;
}

.mini2-4 ul li{
    padding-left: 50px;
}

.mini-container2 a{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #D978AC;
    display: inline;
}


.mini2-2 a{
    padding-left: 296px;
    display: inline;
}

.mini2-3 a{
    padding-left: 391px;
}
.mini2-4 a{
    padding-left: 391px;
}

.mini-container2 ul li::marker{
    padding-left: 20px;
}


/* container3 */

.container3{
        width: 1440px;
        margin: 0 auto;
        color:#FFFFFF;
    }


.background3 {
    position: relative;
}

.background3 img{
    position: absolute;
    background: none;
}

.sky{
    top: 156px;
    right: 0px;
}


.gallery3{
    width: 1110px;
    position: relative;
    margin: 0 auto;
    height: 1000px;
    background: none;
    top:155px;
}

.gallery3 img, p, h3, span, form, a{
    background: none;

}

.gallery3 h3{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 121px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 167px;
}

.gallery3 h3:nth-child(2){
    margin-top: -20px;
    margin-left: 381px;
}

.gallery3 p{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding-left: 380px;
}

.wrapper{
    position: relative;
    width: 1110px;

    background: none;
    margin: 0 auto;
    top:-513px;
}

.slider-container{
    overflow: hidden;
    background: none;
}

.slider-track{
    display: flex;
    background: none;
    transition: .2s;
}
.slider-item{
    min-width: 350px;
    background: none;
    margin-right: 30px;

}
.slider-item img{
    background: none;
}
.slider-item span, button{
    background: none;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;

}

.slider-item p{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 10px;

}

.slider-item button{
    border: 0.5px solid #FFFFFF;
    padding: 16px 76px;
    margin-top: 20px;
}

.slider-buttons{
    background: none;
    position: relative;

}
.slider-buttons img{
    background: none;
}

.slider-buttons button{
    position: absolute;
    border: none;
    top: -892px;
    left: 65px;
}

.slider-buttons .next{
    top: -892px;
    left: 1295px;
}

.mini3-1{
    width: 1110px;
    margin: 0 auto;
    margin-top: -259px;
    position: relative;
    background: none;
}

.mini3-1 h5{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 121px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: none;
}


.order_flower {
    position: relative;
    width: 1440px;
    margin: 0 auto;
    background: none;
}

.order_flower img{
    position: absolute;
    background: none;
    top:-210px;
}

.how_order{
    position: relative;
    width: 730px;
    background: none;
    height: 655px;
    margin: 0 545px;
}

.how_order h6{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D978AC;
}

.how_order p{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 12px;
}

.how_order img{
    position: absolute;
}
.how_order .line_v{
    right: 0px;
    top: 270px;
}

.how_order div{
    position: absolute;
}

.step1{
    top:50px;
    left:0px;
}

.step2{
    top:198px;
    left:0px;
}

.step3{
    top:378px;
    left:0px;
}

.step4{
    top:50px;
    right:124px;
}

.step5{
    top:258px;
    right:136px;
}

.lover_flower{
    top: 670px;
    right: 209px;
    transform: rotate(-11.95deg);
    text-transform: capitalize;
}

.foto-inst{
    width: 1440px;
    height: 1000px;
    margin: 0 auto;
    position: relative;
}

.special{
    width: 1110px;
    height: 1000px;
    margin: 0 auto;
    background: none;
    position: relative;
}
.ellipse39{
    position: absolute;
    background: none;
    right: 0px;
}

.special h3{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 121px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;

}

.ocassion{
    margin-left: 381px;
}



.special img{
    position: absolute;
    left: 850px;
    top: 30px;
    background: none;
}

.special img:hover{
    transform: scale(1.2);
}

.inst-gallery{
    display: flex;
    margin: 0 auto;
    position: relative;
    background: none;
    width: 1035px;
    margin-left: 240px;
    margin-top: -720px;
}

.inst-gallery div{
    padding-left: 30px;
    background: none;
}

.inst-gallery img:hover{
    transform: scale(1.2);
}

.help-list{
    width: 280px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: none;
    position: relative;
}

.help-list p{
    padding-bottom: 40px;
}

.help-list ul li{
    list-style-type: disc;
}

.inst-button button{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
    background: #43FFD2;
    padding: 16px 17px;
    position: absolute;
    left:260px;
    top:605px;
}

.inst-button button:hover{
    background-color: #7D2253;
    color: white;

}
.inst-button button:active{
    background: #7D2253;
    box-shadow: inset 0px 0px 10px #01281F;
}

.arrow8{
    position: absolute;
    left:230px;
}

/* container4 */

.container4{
    background-image: url('img/Rectangle 31.png');
    width: 1440px;
    height: 666px;
    margin: 0 auto;
    position: relative;
    top:-180px;

}


.bg-4{
    background: none;
}

.bg-4 img{
    background: none;
    position: absolute;
    top:-70px;
    left:200px;
}

.questions{
    position: relative;
    background: none;
    width: 1110px;
    margin: 0 auto;
    display: flex;
}

.questions1{
    width: 700px;
    margin-left: 0px;
    background: none;
}
.questions1 h4{
    background: none;
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 121px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 25px;
}
.questions1 h4:nth-child(2){
    margin-left: 90px;
    padding-top: 0px;
}
.questions1 img{
    background: none;
    position: absolute;
    left: 250px;
    
}

.questions2{
    width: 445px;
    background: none;
    margin-right: 0px;
}

.questions2 input{
    background: none;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-transform: uppercase; 
    border: 1px solid #43FFD2;
    padding: 19px 362px 20px 20px;
    margin-bottom: 10px;
    width: 445px;
    height: 60px;
}

.container-input{
    background: none;
    margin-top: 274px;
}

.questions2 input:last-child{
    width: 445px;
    height: 60px;
    padding-top:19px;
    background: none;
}


.questions2 img{
    position: absolute;
    top: 83px;
    right: 0px;

}

.questions2 p{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    right: 0px;
    top: 136px;
}

.questions2 button
{
    font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 18px;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #000000;
background: #43FFD2;
border: none;
padding: 16px 93px;
}


.questions2 button:hover{
    background-color: #7D2253;
    color: white;

}
.questions2 button:active{
    background: #7D2253;
    box-shadow: inset 0px 0px 10px #01281F;
}

.leaf{
    background: none;
}

.leaf img{
    position: absolute;
    background: none;
    top:0px;
}

.footer{
    width: 1440px;
    position: relative;
    height: 666px;
    background: none;
}

.footer img{
    position:absolute;
    background: none;
}

.footer img:first-child{
    right: 0px;
}

.footer img:nth-child(2){
    top:165px;
    right: 0px;
}

.footer img:nth-child(3){
    top: 200px;
}

.footer h6{
    background: none;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 200px;
    line-height: 296px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #0A1717;
    position: absolute;
    bottom: 0px;

}


.foot-inst{
    position: relative;
    background: none;
    display: flex;
    width: 730px;
    margin-left: 180px;
    margin-top:-250px;
}

.foot-inst img{
    padding-right: 30px;
    background: none;
}

.foot-inst img:hover{
    transform: scale(1.2);
}

.foot-inst .social{
   top:10px;
   left:0px;
}


/* container5 */

.container5{
    width: 1440px;
    height: 337px;
    margin: 0 auto;
    position: relative;
    top:488px;
}

.main-foot{
    width: 1102px;
    height: 273px;
    margin: 0 auto;
    position: relative;
    display: flex;
    margin-top: 30px;
}

.foot1{
    width: 244px;
    background:none;
    height: 200px;
    margin-right: 41px;
    margin-top: -26px;
}

.foot2{
    width: 129px;
    height: 200px;
    margin-right: 61px;
}
.foot3{
    width: 90px;
    height: 200px;
    margin-right: 100px;
}
.foot4{
    width: 160px;
    height: 200px;
    margin-right: 31px;
}
.foot5{
    width: 246px;
    height: 200px;
}

.main-foot h6{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #43FFD2;
    margin-bottom: 10px;

}

.main-foot p, a{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 4px;
}

.foot5 a{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #43FFD2;
    padding-bottom: 6px;
}

.foot5 p{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 20px;
    

}

.foot2 a li, .foot3 a li{
    padding-bottom: 4px;
}

.foot4 a h6{
    padding-bottom: 10px;
}


.foot-soc img{
    padding-right: 20px;
}

