@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    background: #282828;
}

a{
    text-decoration: none;
}


.container{
    width: 1440px;
    margin: 0 auto;
    background: #282828;
}  
.wrapper{
    width: 1440px;
    margin: 0 auto;
    position: relative;
}  

.wrapper img{
    position: absolute;
    background: none;
}

.ellipse44{
    right: 0px;
}

.ellipse32{
    top: 890px;
}

.s-flower{
    right: 0px;
}

.ellipse52{
    right: 0px;
    top: 500px;
}


.ellipse41{
    right: 0px;
    bottom: -3258px;
}

.ellipse42{
    right: 0px;
    bottom: -3258px;
}


.ellipse43{
    left: 0px;
    bottom: -3258px;
}

.main{
    width: 1110px;
    margin: 0 auto;
    position: relative;
    background: none;

}

.header{
    height: 60px;
    background: none;
}

.header ul{
    display: flex;
    background: none;
    margin-left: 60px;

}

.logo1{
    background: none;
    position: absolute;
    top:-5px;
    left: 0px;
}

.header li{
    margin-right: 50px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: none;
    list-style-type: none ;
    margin-top: 20px;
}

.header a{
    background: none;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header a:hover{
    color: #D978AC;
}

.street{
    position: absolute;
    right: 0px;
    background: none;
    top: 20px;
    float: right;
}

.street a{
    position:absolute ;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #43FFD2;
}

.street a:first-child{
    margin-left: 84px;
}

.secondA{
    margin-left: 115px;
}


.street p{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: none;
}

.street p:last-child{
    margin-left:174px;
}

.block-catalog{
    width: 920px;
    height: 534px;
    position: relative;
    top:115px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    background: none;
}

h1{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 121px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: none;
    padding-left: 20px;
    padding-top: 15px;
}

h2{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 121px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 285px;
    background: none;
}

.block-catalog p{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 285px;
    background: none;
    padding-bottom: 59px;

}

.block-catalog div button{
    border: 0.5px solid #FFFFFF;
    border-radius: 40px;
    background: none;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 11px 16px;
    margin-bottom: 10px;
    background: none;
    margin-right: 4px;
}

.block-buttons{
    margin-left: 20px;
    background: none;
}

.main-catalog{
    margin-top: 196px;
    background: none;
}

.filters{
    width: 255px;
    height: 818px;
    position: relative;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    border-radius: 20px;
}

.filters form{
    background: none;
}

.filters p{
    background: none;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #43FFD2;
    padding-bottom: 8px;
}

.filters input{
    background: none;
}

.items-filter {
    background: none;
    margin-bottom: 20px;
    margin-left: 60px;
    position: absolute;
    top: 600px;
}
.items-filter a{
    background: none;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #43FFD2;
}
.items-filter a::after{
    content: url('img/Vector.svg');
    position: absolute;
    left:150px;
}
.items-filter{
    display: none;
}
.category{
    display: none;
}
.category a{
    background: none;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #43FFD2;
}

.category{
    background: none;
    margin-bottom: 20px;
    margin-left: 60px;
    position: absolute;
    top: 550px;
}

.category a::after{
    content: url('img/Vector.svg');
    position: absolute;
    left:100px;
}

.filters label{
    background: none;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 5px;
}

.form1{
    padding-top: 20px;
    padding-left: 16px;
}

.form2{
    padding-top: 20px;
    padding-left: 16px;
}
.form3{
    padding-top: 20px;
    padding-left: 16px;
}

.number{
    width: 233px;
}

.range{
    background: none;
    width: 233px;
    padding-top: 50px;
    padding-left: 5px;
    position: relative;
}

.range > input[type="range"]{
    position: absolute;
    bottom: 0;
    background: url('img/Line\ 15.svg');
    border-radius: 50px;
    height: 5px;
    background-color: #43FFD2;
}

.range > .range-num{
    margin-bottom: 5px;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 10px;
    background: none;
    color: #43FFD2;
}
.range input::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: #43FFD2;

}

.form4{
    padding-top: 20px;
    padding-left: 16px;
}

.filters button{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 16px 54px;
    background: none;
    margin-top: 20px;
    margin-left: 10px;
}

button:hover{
    color: #040A0A;
    background: #43FFD2;
}

.block-buttons button:hover{
    color: #040A0A;
    background: #43FFD2;
}
.block-buttons button:focus{
    color: #040A0A;
    background: #43FFD2;
}

.main-catalog{
    display: flex;
}

.compilation{
    width: 825px;
    padding-left: 30px;

    background:none ;
}

.compilation1 div img{
    padding-right: 30px;
    background: none;
}


.compilation1{
    display: flex;
    background: none;
    padding-bottom: 60px;
}

.compilation1 div{
    background: none;
}
.compilation p{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: none;
    padding-bottom: 10px;
}

.compilation span{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: none;

}

.compilation button{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 0.5px solid #FFFFFF;
    padding: 16px 93px;
    margin-top: 20px;
    background: none;
}

.compilation2 div img{
    padding-right: 30px;
    background: none;
}


.compilation2{
    display: flex;
    background: none;
    padding-bottom: 60px;
}

.compilation2 div{
    background: none;
}


.compilation3 div img{
    padding-right: 30px;
    background: none;
}


.compilation3{
    display: flex;
    background: none;
    padding-bottom: 60px;
}

.compilation3 div{
    background: none;
}

.compilation4 div img{
    padding-right: 30px;
    background: none;
}


.compilation4{
    display: flex;
    background: none;
    margin-bottom: 37px;
}

.compilation4 div{
    background: none;
}


.compilation button:hover{
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px; 
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #040A0A;
    background: #43FFD2;


}


.footer{
    width: 1440px;
    height: 337px;
    background: black;
    margin: 0 auto;
    position: relative;
    margin-top: 200px;
}

.main-footer{
    display: flex;
    background:rgb(0, 0, 0) ;
    width: 1102px;
    margin: 0 auto;
    height: 233px;

}

.main-footer h6{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #43FFD2;
    background: black;
    margin-top: 30px;
}
.foot1{
    width: 244px;
    background: black;
    margin-right: 41px;
    margin-top: 83px;

}


.foot1 img{
    background: black;
}

.foot1 p{
    background: black;
    margin-left: 0px;
    color: white;
    width: 244px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 10px;
}
.foot2{
    background: black;
    width: 129px;
    margin-right: 61px;

}

.foot2 li, .foot3 li{
    list-style-type: none;
    margin-left: 0px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: black;

}

.foot3{
    background: black;
    margin-right: 100px;
}

.main-footer a li:hover{
    color:#D978AC;
}

.foot4{
    background: black;
    margin-right: 31px;
}

.foot4 h6, a{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #43FFD2;
    margin-bottom: 20px;
    background: black;

}

.main-footer a:hover{
    color:#D978AC;
}

.foot5{
    width: 246px;
    background: black;
    margin-top: 30px;
}

.foot5 a{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #43FFD2;
    margin-top: 20px;
}

.foot5 p{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 0px;
    padding-top:6px;
    background: black;
}


.foot-logo{
    position: absolute;
    top:30px;
}

.foot5 div{
    position: relative;
    top:38px;
    background: black;
}

.foot5 div img{
    position: absolute;
    background: black;
}

.wats{
    left: 50px;
}

.tel{
    left: 100px;
}

.adapt_logo{
    position: absolute;
    background: none;
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    top: 10px;
    left: 200px;
    text-align: center;
}
.adapt_logo h6{
    background: none;
}
.adapt_logo{
    display: none;
}
details summary{

    background: none;
    color: #43FFD2;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    text-transform: uppercase;
    text-decoration: underline;
}

details .block-buttons button{
    border: 0.5px solid #FFFFFF;
    border-radius: 40px;
    background: none;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 11px 16px;
    margin-bottom: 10px;
    background: none;
    margin-right: 4px;
    background: none;
}

details {
    display: none;
}


/* ---------------------------burger-mrnu------------ */

.burger-menu__button {
    position: absolute;
    top: 15px;
    left: 10px;
    z-index: 30;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: none;
    transition: 0.4s;
   }
   
   .burger-menu__button:hover .burger-menu__lines {
    filter: brightness(0.7);
   }
   
   .burger-menu__lines,
   .burger-menu__lines::after,
   .burger-menu__lines::before {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #43FFD2;
   
   }
   
   .burger-menu__lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   }
   
   .burger-menu__lines::before {
    content: "";
    top: -12px;
   }
   
   .burger-menu__lines::after {
    content: "";
    top: 12px;
   }
   .burger-menu_active .burger-menu__button,
   .burger-menu_active .burger-menu__lines {
    background-color: transparent;
   }
   
   
   .burger-menu_active .burger-menu__lines::before {
    top: 0;
    transform: rotate(45deg);
   }
   
   .burger-menu_active .burger-menu__lines::after {
    top: 0;
    transform: rotate(-45deg);
   }
   
   .burger-menu__nav {
    padding-top: 80px;
    position: fixed;
    z-index: 20;
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: black;
    overflow-y: auto;
    left: -120%;
    top: 0px;
    transition: 0.5s;
   }
   
   .burger-menu_active .burger-menu__nav {
    left: 0;
    top: 0px;
   }
   
   .burger-menu__link {
    padding: 20px;
    font-family: sans-serif;
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    color: #fff;
   }
   
   .burger-menu__link :hover {
    filter: brightness(0.7);
   }
   
   .burger-menu__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: rgb(0, 0, 0, 0.5);
   }
   .burger-menu_active .burger-menu__overlay {
    display: block;
   
   }
   

   .burger-menu{
    display: none;
   }

